/* -------- body -------- */
body,
html,
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}

/* ------ headers ------- */
h1 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 50px;
    color: blueviolet
}

h3 {
    color:blueviolet;
}

/* ----- Tables ----- */
td,
th {
    padding: 5px;
}

th {
    font-size: 22px;
    color: blueviolet
}

td {
    font-size: 20px;
    color: blueviolet
}

/* ----- Buttons ----- */
a,
a:visited {
    color: blueviolet;
}

button {
    cursor: pointer;
}

.button-component {
    color: blueviolet;
    border: solid blueviolet 2px;
    border-radius: 10px;
    padding: 5px;
}

.change-image-button {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

/* ----- Button Bar ---- */
.button-bar {
    display: flex;
    align-items: center;
    gap:20px;
    margin-top:10px;
}
.home-button-div {
    display: flex;
    width: 100%;
    align-items: flex-start;
    text-decoration: none;
}

.home-button {
    border: solid blueviolet 2px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    margin: 5px;
    text-decoration: none;
}

.no-border-button {
  border: none;
}

/* ----- Images ----- */
img {
  width: 100%;
  height: 100%;
    border-radius: 15px;
}
.image-student {
  border-radius: 15px;
  max-width: 300px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 30px blueviolet;
}
.home-button-image {
    width:50px;
    height: 50px;
}

/* ----- Themes ---- */
.light {
  transition: 1000ms;
  background-color: azure;
}
.dark {
  transition: 500ms;
  background-color: #262626;
}
