body,
html,
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}

h1 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 50px;
    color: blueviolet
}

td,
th {
    padding: 5px;
}

th {
    font-size: 22px;
    color: blueviolet
}

td {
    font-size: 20px;
    color: blueviolet
}

.router-link {
    color: red;
    background-color: red;
}

.HomeButtonDiv {
    display: flex;
    width: 100%;
    align-items: flex-start;
    text-decoration: none;
}

a,
a:visited,
h3 {
    color: blueviolet;
}

button {
    cursor: pointer;
}
.HomeButton {
    border: solid blueviolet 2px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    margin: 5px;
    text-decoration: none;
}

.ButtonLijst {
    color: blueviolet;
    border: solid blueviolet 2px;
    border-radius: 10px;
    padding: 5px;
}

.changeImage {
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.image_student {
    margin-top: -20px;
    margin-bottom: 20px;
}

img {
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}